@model POMACSystem.Models.PetitionDetail

@{
    ViewBag.Title = "Create";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">PETITION DATA</h2>
    </div>
    <div class="box-body">
        <form method="post" name="frm" novalidate>
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Petitioner Details</a></li>
                                <li><a data-toggle="tab" href="#menu2">Petition Details</a></li>
                                <li><a data-toggle="tab" href="#menu3">Petition Counts</a></li>
                                <li><a data-toggle="tab" href="#menu4">Petition Appeals</a></li>
                                <li><a data-toggle="tab" href="#menu5">Previous Convictions</a></li>
                                <li><a data-toggle="tab" href="#menu6">Co-Accused</a></li>
                                <li><a data-toggle="tab" href="#menu7">Current Petitions</a></li>
                                <li><a data-toggle="tab" href="#menu8">Displinary Actions</a></li>
                            </ul>
                            <div class="tab-content" id="tabs">
                                <div id="home" class="tab-pane fade in active">
                                    <h3>Petition Details</h3>
                                </div>


                                <div id="menu2" class="tab-pane fade">
                                  

                              

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>PetitionDetail</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PetitionDetailsID, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.PetitionDetailsID, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PetitionDetailsID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PetitionerDetailsID, "PetitionerDetailsID", htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.DropDownList("PetitionerDetailsID", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.PetitionerDetailsID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CourtCaseNumber, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.CourtCaseNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CourtCaseNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateOfConviction, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.DateOfConviction, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.DateOfConviction, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateOfOffence, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.DateOfOffence, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.DateOfOffence, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PlaceOfOffence, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.PlaceOfOffence, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PlaceOfOffence, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateOfArrest, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.DateOfArrest, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.DateOfArrest, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateOfRemand, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.DateOfRemand, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.DateOfRemand, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EarliestPossibleDateOfDischarge, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.EarliestPossibleDateOfDischarge, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.EarliestPossibleDateOfDischarge, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.LatestPossibleDateOfDischarge, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.LatestPossibleDateOfDischarge, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.LatestPossibleDateOfDischarge, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TrialCourt, "TrialCourt", htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.DropDownList("TrialCourt", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.TrialCourt, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CountsImplementation, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.CountsImplementation, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CountsImplementation, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Resentenced, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        <div class="checkbox">
                                                            @Html.EditorFor(model => model.Resentenced)
                                                            @Html.ValidationMessageFor(model => model.Resentenced, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ResentencingOutcome, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.ResentencingOutcome, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.ResentencingOutcome, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PendingCourtMatter, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        <div class="checkbox">
                                                            @Html.EditorFor(model => model.PendingCourtMatter)
                                                            @Html.ValidationMessageFor(model => model.PendingCourtMatter, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PendingCourtMattersExplanation, htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.EditorFor(model => model.PendingCourtMattersExplanation, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.PendingCourtMattersExplanation, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ReliefsID, "ReliefsID", htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-5">
                                                        @Html.DropDownList("ReliefsID", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.ReliefsID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Skills, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Skills, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NatureParticularsCircumstancesOfOffence, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NatureParticularsCircumstancesOfOffence, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NatureParticularsCircumstancesOfOffence, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PreviousPetitions, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PreviousPetitions, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PreviousPetitions, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Trustee, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    @Html.EditorFor(model => model.Trustee)
                                                    @Html.ValidationMessageFor(model => model.Trustee, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateOfTrusteePromotion, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DateOfTrusteePromotion, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateOfTrusteePromotion, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Achievement, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Achievement, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Achievement, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Attributes, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Attributes, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Attributes, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AreYouPrisoner, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    @Html.EditorFor(model => model.AreYouPrisoner)
                                                    @Html.ValidationMessageFor(model => model.AreYouPrisoner, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NameOfRepresentativeOrAdvocate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.NameOfRepresentativeOrAdvocate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NameOfRepresentativeOrAdvocate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.RelationshipWithConvict, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.RelationshipWithConvict, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.RelationshipWithConvict, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TelephoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IDNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.IDNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateModified, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateModified, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }

                                @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@


                            </div>

                                       
                                        <div id="menu3" class="tab-pane fade">
                                            <h4>Petition Appeals</h4>

                                        </div>


                                            <div id="menu4" class="tab-pane fade">
                                                <h3>Previous Convictions</h3>



                                            </div>
                                            <div id="menu5" class="tab-pane fade">
                                                <h3>Co Accused</h3>

                                            </div>

                                            <div id="menu6" class="tab-pane fade">
                                                <h3>Current Petition</h3>

                                            </div>

                                            <div id="menu" class="tab-pane fade">
                                                <h3>Displinary Action</h3>

                                            </div>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script>
    $(document).ready(function () {
        $('.btnNext').click(function () {
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });
    });
</script>*@






