@model POMACSystem.Models.PetitionerDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PetitionerDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetitionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetitionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetitionerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetitionerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetionerMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetionerMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetitionerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetitionerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetitionerAliasName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetitionerAliasName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirthKnown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirthKnown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Village)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Village)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NearestChurch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NearestChurch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NearestSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NearestSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NearestMarket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NearestMarket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeCheif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeCheif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKinContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKinContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKinRelation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKinRelation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.RoleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationLevel.LevelOfEducation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationLevel.LevelOfEducation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender1.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender1.GenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatu.Marital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatu.Marital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality1.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality1.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKin1.Relation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKin1.Relation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tribe.TribeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tribe.TribeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County1.CountyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County1.CountyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location1.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location1.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCounty1.SubCountyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCounty1.SubCountyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sublocation1.SubLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sublocation1.SubLocationName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
